.skill-container .skill-box{
    flex: 1 1 25rem;
    /* background: var(--second-bg-color); */
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    /* border: .2rem solid var(--bg-color); */
    transition: 0.5s ease;

}
.skill-container .skill-box:hover{
    border: .2rem solid var(--main-color);
    transform: scale(1.02);
}

.skill-progress>div{border-radius: 20px 0px 0px 20px;}
.mb-blue{
    /* border-radius: 20px 0px 0px 20px; */
    background-color: blue;
}

.qualification h2{
    color: var(--main-color);
    font-size: 2.3rem;
    margin-bottom: 2rem;
}
.qualification li{
    /* text-decoration: none; */
    font-size: 1.5rem;
    list-style: none;
}