.home {
    /* margin: 10%; */
    /* border: 2px solid yellow; */
    /* margin-top: 6rem; */
    /* margin-top: 10vh; */
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-wrap: nowrap; */
    /* flex-direction: row; */
    width: 100vw;
    /* height: 0vh; */
    justify-content: space-evenly;
    align-items: center;
    /* justify-content: center; */
    /* display: flex;
    justify-content: center;
    align-items: center; */

}


.home-img img {
    aspect-ratio: 3/4;
    width: 25vw;
    object-fit:cover;
    background: transparent;
    transition: .5s ease;

}

.home-img img:hover {
    filter: drop-shadow(10px 10px 100px var(--second-bg-color) );
    /* border: .3rem solid var(--main-color); */
    transform: scale(1.02);

}
.home-content{
    align-content: center;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    display: flex;
    /* flex-wrap: nowrap; */

}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}
.social-media{
    width: 100%;
}
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1 rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: all ease 0.3s;
    /* -webkit-box-reflect: below 1px linear-gradient(transparent,#000); */

}

.btn:hover {
    box-shadow: none;
    /* -webkit-box-reflect: below 1px linear-gradient(transparent,#000); */
}

@media (max-width:768px) {
    .home{
        flex-direction: column;
        justify-content: normal;
        padding-top: 10vh;
    }
    .home-content h3 {
        font-size: 2.5rem;
        font-weight: 600;
    }

    .home-content h1 {
        font-size: 3rem;
    }

    .home-img {
        /* display: none; */
        object-fit: cover;
    }
    .home-img img {
        aspect-ratio: 3/4;
        width: 40vw;
        border-radius: 5rem;
        transition: .5s ease;
    
    }
    .home-content p {
        font-size: 1.8rem;
    }
    .social-media{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .btn {
        margin-left: 2.6rem;
        border-radius: 3rem;
        font-size: 2.2rem;
        font-weight: 500;
    }

}
@media (max-width:450px) {
    .home{
        justify-content: normal;
        padding-top: 10vh;
        
    }
    .home-content{
        margin-top: 4rem;
    }

    .home-img img{
        width: 50vw;
        aspect-ratio: 2/3;
        object-fit: cover;
    }
}
@media (max-width:380px) {
    .home{
        justify-content: normal;
        
    }
    .home-content{
        margin-top: 3rem;
    }

    .home-img img{
        width: 40vw;
        aspect-ratio: 2/3;
        object-fit: cover;
    }
}
/* -----------------lighting button--------------- */
:root {
    --glow-color: hsl(186 100% 69%);
  }
  .glowing-btn {
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.35em 1em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 1em;
  
    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
  }
  
  .glowing-txt {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
  }
  
  .faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
  }
  
  .glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow-color);
    pointer-events: none;
  }
  
  .glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
  }
  
  .glowing-btn:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
  }
  .glowing-btn:hover .glowing-txt {
    animation: none;
  }
  
  .glowing-btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
  }
  
  .glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
  }
  
  .glowing-btn:hover:after {
    opacity: 1;
  }
  
  @keyframes faulty-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 0.1;
    }
    4% {
      opacity: 0.5;
    }
    19% {
      opacity: 0.5;
    }
    21% {
      opacity: 0.1;
    }
    23% {
      opacity: 1;
    }
    80% {
      opacity: 0.5;
    }
    83% {
      opacity: 0.4;
    }
  
    87% {
      opacity: 1;
    }
  }
  
  @keyframes text-flicker {
    0% {
      opacity: 0.1;
    }
  
    2% {
      opacity: 1;
    }
  
    8% {
      opacity: 0.1;
    }
  
    9% {
      opacity: 1;
    }
  
    12% {
      opacity: 0.1;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0.3;
    }
    30% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.7;
    }
    72% {
      opacity: 0.2;
    }
  
    77% {
      opacity: 0.9;
    }
    100% {
      opacity: 0.9;
    }
  }
  
  @keyframes border-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 1;
    }
    4% {
      opacity: 0.1;
    }
  
    8% {
      opacity: 1;
    }
    70% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
  
  @media only screen and (max-width: 600px) {
    /* .glowing-btn{
      font-size: 1em;
    } */
  }
  