@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:'Poppins',sans-serif;

}
:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;
} 
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    color: #000;
}
body.dark{
    background: var(--bg-color);
    color: #fff;
}

section{
    /* min-height: 100vh; */
    padding: 10rem 9% 2rem;

}

.menubar{
    
    font-size: 2rem;
    font-weight: 700;
    display: none;
}
.logo{
  font-size: 2.5rem;
  /* color: var(--text-color); */
  font-weight: 600;
  cursor: default;

}
.span-color{
    color: var(--main-color);
}

@media (max-width:768px){
    
    .logo{ 
        width: 50%;
    }
}
/* .about-selected.hide{
  display: none;
} */